article {
    padding: 10%;
    background-color: rgb(12, 12, 12);
}

article h1,
article h2 {
    color: white;
    margin-bottom: 20px;
    font-family: 'Courier New', monospace;
}

article p {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

article img {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 5%;
}

article iframe {
    min-height:70vh;
    min-width: 70%;
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 5%;
}

article a {
    margin-bottom: 20px;
    position: relative;
    text-decoration: none;
    color: slategray;
    font-size: 20px;
  }