.title {
    background-image: url('../images/foggy_forest.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8% 10%;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}

.title h1 {
    color: var(--text-color-light-transparent-90);
    margin: 0 0 20px;
    font-size: 1.5rem;
    max-width: 900px;
    margin-left: 0;
    margin-right: auto;
}

.title h2,
.title h3 {
    color: var(--text-color-light-transparent-80);
    margin: 0 0 10px;
    font-size: 1rem;
    max-width: 800px;
    margin-left: 0;
    margin-right: auto;
}

article {
    padding: 5% 10%;
    background-color: var(--background-color-dark);
    min-height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
}

article p {
    margin-bottom: 20px;
    color: var(--text-color-primary);
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 800px;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

article h2 {
    color: var(--primary-color-light);
    font-size: 1.2rem;
    margin: 40px auto 20px;
    margin-left: 0;
    max-width: 800px;
    text-align: left;
}

article h3 {
    color: var(--primary-color-medium);
    font-size: 1rem;
    margin: 30px auto 15px;
    margin-left: 0;
    max-width: 800px;
    text-align: left;
}

article ul, 
article ol {
    max-width: 750px;
    margin: 0 auto 20px;
    margin-left: 0;
    color: var(--text-color-primary);
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: left;
}

article li {
    margin-bottom: 10px;
}

article img {
    margin: 30px auto;
    display: block;
    max-width: 100%;
    width: auto;
    max-height: 600px;
    padding: 0;
    height: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px var(--shadow-color-dark-2);
}

article iframe {
    margin: 30px auto;
    display: block;
    max-width: 100%;
    width: 800px;
    padding: 0;
    aspect-ratio: 16 / 9; /* This ensures the 16:9 aspect ratio */
    height: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px var(--shadow-color-dark-2);
}

article video {
    margin: 30px auto;
    display: block;
    max-width: 100%;
    width: 800px;
    padding: 0;
    height: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px var(--shadow-color-dark-2);
}

article a {
    display: block;
    margin: 20px auto;
    margin-left: 0;
    text-decoration: none;
    color: var(--primary-color-light);
    font-size: 0.9rem;
    transition: color 0.3s ease;
    text-align: left;
    max-width: 800px;
}

article a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    .title h1 {
        font-size: 1.8rem;
    }
    
    article p,
    article ul,
    article ol,
    article a {
        font-size: 0.95rem;
    }
    
    article h2 {
        font-size: 1.4rem;
    }
    
    article h3 {
        font-size: 1.2rem;
    }
}